body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color:#EEEFF1;
    height: 700px;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
h3 {
    margin: 0;
}

li {
    list-style-type: none;
    white-space: nowrap;
}
ul {
    margin: 0;
}
.nav__link {
    display: flex;
    padding: 74px 875px 0px 356px;
}
.nav__link li {
    margin-left: 44px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.nav__link li:hover{
    opacity: 0.7;
}
.link__one {
    color: #34547A;
}
.header__title {
    padding: 122px 980px 0px 400px;
    font-size: 22px;
    letter-spacing: 0.5px;
    white-space: nowrap;
}
.header__text {
    color:#727272;
    padding: 18px 0px 0px 400px;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.header__btn {
    padding: 86px 0px 0px 400px;  
}
.header__btn button{
    height: 65px;
    width: 225px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 0px 10px 8px 6px;
    letter-spacing: 0.5px;
    background-color:#34547A;
    cursor: pointer;
    
}
.header__btn button:hover {
    opacity: 0.7;
}
main {
    height: 1600px;
}
.info__main {
    display: flex;
    height: 359px;
    flex-direction: column;
}
.main__title h2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 81px;
    font-size: 32px;
    letter-spacing: -2.5px;
}
.main__text p {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 8px;
    color: #727272;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 27px;
}
.icon__box {
    display: flex;
    height: 250px;
    background-color: #34547A;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon__content {
display: flex;
margin-right: 55px;
} 
.icon__text {
    color: #FFFFFF;
    margin-left: 17px;
}